* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}
body {
    font-family: 'Hammersmith One', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/bg-tile.png");
	overflow:hidden;
}

h1 {
	position: absolute;
    font-size: 60px;
    color: #f8043f;
    text-shadow: 3px 3px 0.03em #a0dfe9;
    left: 260px;
    top:65px;
    line-height: 45px;
}

li {
	list-style-type: none;
	float: left;
	margin: 0px 4px 4px 0px; /*same as border stroke width */
	width:30%;
	height: 30%;
}

ul.game_board {
	position: absolute;
	width:70%;
	height: 70%;
    margin: 0;
    padding: 0;
    top: 170px;
    left: 260px;
}

#scoreBar {
	position: absolute;
	width: 200px;
	height: 100%;
	background-color: #a0dfe9;
	opacity: 0.6;
	overflow: hidden;
}

#vertical_left {
	position:absolute;
	background-image: url("../images/vertical_left.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: 100;
}

#p1_score {
	position: absolute;
	top: 300px;
	left: 45px;
	z-index: 50;
}

#p2_score {
	position: absolute;
	top: 500px;
	left: 45px;
	z-index: 50;
}

.player_badges1 {
	position: absolute;
	width: 100px;
	height: 300px;
	background-image: url("../images/players.png");
	top: 170px;
	left:45px;
}

.player_badges2 {

	background-position:-100px 0;	
}

/*div.player:hover {
	background-position:-100px 0;	
}
*/

.content {
	position: absolute;
	height: 100%;
	width: 100%;
}

.allBoxes {
	position:relative;
	height: 100%;
	width: 100%;
	border: 4px solid #a0dfe9;

}

div.allBoxes div {
	display:none;
}

div.allBoxes:hover {
	position: relative;
	background-color: #a0dfe9;
	border: 4px solid #a0dfe9;
}

.x {
	position:relative;
	width:100%;
	height:100%;
	background-image: url("../images/x.png");
	background-repeat:no-repeat;
	background-position: center;
}

.o {
	position:relative;
	width:100%;
	height:100%;
	background-image: url("../images/o.png");
	background-repeat:no-repeat;
	background-position: center;
}

#player1_win, #player2_win, #tie_game {
	position: absolute;
    font-family: 'Hammersmith One', sans-serif;
	font-size:20px;
	color:#f8043f;
	top:145px;
	left:260px;
	display:none;
}

button{
    background-color: #f8043f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fe4876), to(#f8043f));
    background-image: -webkit-linear-gradient(top, #fe4876, #f8043f);
    background-image: -moz-linear-gradient(top, #fe4876, #f8043f);
    background-image: -ms-linear-gradient(top, #fe4876, #f8043f);
    background-image: -o-linear-gradient(top, #fe4876, #f8043f);
    background-image: linear-gradient(top, #fe4876, #f8043f);

    border: 1px solid #a6012c;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.6) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.6) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.6) inset, 0 1px 0 rgba(0,0,0,.3);
    cursor: pointer;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    padding: 6px 10px 3px 10px;
    margin: 70px 0px 0px 47px;
}

button:active
{
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.2) inset;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.2) inset;
    position: relative;
    top: 1px;
}

/*
@font-face {
    font-family: 'HelveticaRoundedLTStdBold';
    src: url('helveticaroundedltstd-bd-webfont.eot');
    src: url('helveticaroundedltstd-bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaroundedltstd-bd-webfont.woff') format('woff'),
         url('helveticaroundedltstd-bd-webfont.ttf') format('truetype'),
         url('helveticaroundedltstd-bd-webfont.svg#HelveticaRoundedLTStdBold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
